

<div>


  <div *ngFor="let job of joblistings">
    <app-job-list-element [job]="job"></app-job-list-element>
  </div>
  <div *ngFor="let job of joblistings">
    <app-job-list-element [job]="job"></app-job-list-element>
  </div>
  <div *ngFor="let job of joblistings">
    <app-job-list-element [job]="job"></app-job-list-element>
  </div>
  <div *ngFor="let job of joblistings">
    <app-job-list-element [job]="job"></app-job-list-element>
  </div>
  <div *ngFor="let job of joblistings">
    <app-job-list-element [job]="job"></app-job-list-element>
  </div>


</div>
