
<div class="homepage " >
  <div class="cutie">
    <mat-form-field class="w-50 paddStart">
      <mat-label>User Name</mat-label>
      <input matInput [formControl]="username" placeholder="Ex. Mike Oxlong" id="Username">
    </mat-form-field>

    <mat-form-field class="w-50">
      <mat-label>Password</mat-label>
      <input matInput (keydown.code.enter)="LogIn()" [formControl]="pass" placeholder="Ex. Mike Oxlong" type="password" id="Password">
    </mat-form-field>

    <button mat-raised-button class="mb-3 p-4" (click)="LogIn()">login</button>
    <a href="register">no account? register</a>
  </div>
</div>

