<div class="container d-flex justify-content-between bg-light border border-secondary rounded-2 mb-5">
  <div id="applicantData">
    <p>Nume Applicant: {{applicant.name}}</p>
    <p class="link-primary">LinkedIn: {{applicant.linkedin}}</p>
    <p>Job: {{companyJob.jobTitle}}</p>
  </div>
  <div id="status info">
    <div *ngIf="!lockedMenu">
    <mat-form-field class="m-3 w-75">
      <mat-label>Applicant status</mat-label>
      <mat-select [(value)]="statusString" (selectionChange)="updateApplication()">
        <mat-option *ngFor="let status of statuses" [value]="status">
          {{status}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div *ngIf="lockedMenu" class="d-flex flex-column">
      <label>Applicant status</label>
      <label>{{statusString}}</label>
    </div>
  </div>
</div>
