
<div class="container d-flex-row justify-content-between bg-light border border-secondary rounded-2 mb-5">
  <div id="companyData">
    <p>Company name: {{job.companyName}}</p>
    <p>Job title: {{job.jobTitle}}</p>
    <p>Job description: {{job.jobDescription}}Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec imperdiet lorem lorem, id eleifend lorem mattis eget. Vivamus quis laoreet.</p>
  </div>
  <button mat-raised-button class="mb-3 p-4 w-25" (click)="apply()">apply</button>
</div>
